<html>
  <head>

  </head>
  <body>
    <form method="POST" action="/create_mosaic" enctype="multipart/form-data">
      <label for="image">Select a target image:</label>
      <input type="file" id="image_input" name="image">

      <label for="video">Select a video:</label>
      <input type="file" id="video_input" name="video">

      <label for="tile_count_input">Select tile count:</label>
      <select id="tile_count_input" name="tile_count">
        {% for value in tile_count_values %}
          <option value={{ value }}>{{ value }}</option>
        {% endfor %}
      </select>

      <button type="submit" id="submit_btn" action="/create_mosaic">Create mosaic</button>

    </form>

    <div>
      Notes
      <li>Process might take a few minutes</li>
      <li>For best results the video and image should have similar aspect ratios</li>
    </div>
    
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>