<html>
  <head>

  </head>
  <body>
    <form method="POST" action="/create_mosaic" enctype="multipart/form-data">
      <label for="image">Select a target image:</label>
      <input type="file" id="image" name="image">

      <label for="video">Select a video:</label>
      <input type="file" id="video" name="video">

      <button type="submit" id="btn_mosaic"action="/create_mosaic">Create mosaic</button>
    </form>
    
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>