.vscode
.idea
.pytest_cache

__pycache__

frames
images
videos
env
mosavid

tests/cypress/*
!tests/cypress/integration

project/static/*
!project/static/script.js
!project/static/style.css

/*.json

*.prof
*.pyc
*.jpg
*.mp4

